 <!-- General JS Scripts -->
 <script src="/stisla/assets/modules/jquery.min.js"></script>
 <script src="/stisla/assets/modules/popper.js"></script>
 <script src="/stisla/assets/modules/tooltip.js"></script>
 <script src="/stisla/assets/modules/bootstrap/js/bootstrap.min.js"></script>
 <script src="/stisla/assets/modules/nicescroll/jquery.nicescroll.min.js"></script>
 <script src="/stisla/assets/modules/moment.min.js"></script>
 <script src="/stisla/assets/js/stisla.js"></script>
   <!-- Page level plugins -->
   <script src="/stisla/assets/vendor/datatables/jquery.dataTables.min.js"></script>
   <script src="/stisla/assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
 
   <!-- Page level custom scripts -->
   <script src="/stisla/assets/js/demo/datatables-demo.js"></script>
 
 <!-- JS Libraies -->

 <!-- Page Specific JS File -->
 
 <!-- Template JS File -->
 <script src="/stisla/assets/js/scripts.js"></script>
 <script src="/stisla/assets/js/custom.js"></script>
 <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
</body>
</html>